<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book List</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Book List</h1>
<form action="/user/books/search" method="get">
  <label for="title">Search by title:</label>
  <input type="text" id="title" name="title">
  <button type="submit">Search</button>
</form>
<br>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td>

      <a th:href="@{/user/books/{id}(id=${book.id})}">
        <button type="button">Show details</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/user/">Go Back</a>
</body>
</html>
