<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista Książek</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Lista Książek</h1>
<form action="/books/search" method="get">
  <label for="title">Szukaj po tytule:</label>
  <input type="text" id="title" name="title">
  <button type="submit">Szukaj</button>
</form>
<br>
<table>
  <thead>
  <tr>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>ISBN</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.isbn}"></td>
    <td>

      <a th:href="@{/books/{id}(id=${book.id})}">
        <button type="button">Wyświetl szczegóły</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/">Wróć do strony głównej</a>
</body>
</html>
