<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<a href="/logout">Logout</a>
<a href="/user/books/">Books</a>
<a th:href="@{/usersBooks/list(userId=${user.id})}">UsersBooks</a>
<section>
    <h1>User Profile</h1>
    <div>
        <h2>Name: <span th:text="${user.fullName}"></span></h2>
        <h2>Email: <span th:text="${user.email}"></span></h2>
        <h2>Address: <span th:text="${user.address}"></span></h2>
    </div>
    <a th:href="@{/user/edit}">Edit Profile</a>

    <!-- Formularz do przekierowania na stronę potwierdzenia -->
    <form action="#" th:action="@{/user/confirmDelete}" method="get">
        <button type="submit">Delete Account</button>
    </form>

</section>

</body>
</html>
