<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users Books List</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Users Books</h1>


<form method="get" action="/usersBooks/list">
  <label for="statusFilter">Filter by Status: </label>
  <select name="statusFilter" id="statusFilter">
    <option value="ALL" th:selected="${statusFilter == 'ALL'}">All</option>
    <option value="READED" th:selected="${statusFilter == 'READED'}">Read</option>
    <option value="WANT_READ" th:selected="${statusFilter == 'WANT_READ'}">Want to Read</option>
    <option value="UNREAD" th:selected="${statusFilter == 'UNREAD'}">Unread</option>
  </select>
  <input type="hidden" name="userId" th:value="${userId}">
  <button type="submit">Apply Filter</button>
</form>

<table>
  <thead>
  <tr>
    <th>Book Title</th>
    <th>Author</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${allBooks}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${bookStatuses[book.id]}"></td>
    <td>
      <form th:action="@{/usersBooks/updateStatus}" method="post">
        <input type="hidden" th:value="${book.id}" name="bookId">
        <input type="hidden" th:value="${userId}" name="userId">
        <button type="submit" name="newStatus" value="READED">Mark as Read</button>
        <button type="submit" name="newStatus" value="WANT_READ">Want to Read</button>
        <button type="submit" name="newStatus" value="UNREAD">Unread</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/user/">Go Back</a>
</body>
</html>
