<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Manage Users</h1>
<a href="/admin/">Go Back</a>
<table>
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <form th:action="@{/admin/delete-user/{id}(id=${user.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
